<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN"
        "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">
        
        
<!-- a tab library descriptor -->
<taglib>
	<tlib-version>1.2</tlib-version>
	<jsp-version>1.1</jsp-version>
	<short-name>listingtags</short-name>
	<description>Tag library used for listing purposes</description>

     <tag>
	     <name>listsummary</name>
	     <tag-class>in.com.rbc.quotation.common.taglib.ListSummary</tag-class>	
	     <body-content>JSP</body-content>	
	     <description>List Summary Display Tag</description>	
     </tag>

     <tag>
	     <name>pagelist</name>
	     <tag-class>in.com.rbc.quotation.common.taglib.PageList</tag-class>	
	     <body-content>JSP</body-content>	
	     <description>Page List Display Tag</description>	

	     <attribute>
	     <name>navigation</name>
	     <required>true</required>
	     <rtexprvalue>false</rtexprvalue>
	     </attribute>

     </tag>

     <tag>
	     <name>hiddenfields</name>
	     <tag-class>in.com.rbc.quotation.common.taglib.HiddenFields</tag-class>	
	     <body-content>JSP</body-content>	
	     <description>Hidden Fields Display Tag</description>	
     </tag>
	
     <tag>
	     <name>sort</name>
	     <tag-class>in.com.rbc.quotation.common.taglib.Sort</tag-class>	
	     <body-content>JSP</body-content>	
	     <description>Sorting link</description>	
	
	     <attribute>
	     <name>dbfieldid</name>
	     <required>true</required>
	     <rtexprvalue>false</rtexprvalue>
	     </attribute>
     </tag>
    	
</taglib>
