/*read*/
.word12 {  font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration:none;; line-height: 15px}

/*common_td*/
td {  font-size: 11px; font-family:Verdana, Arial, Helvetica, sans-serif; text-decoration:none;; line-height: 15px}

/*main_right*/
.word9_right {  font-size: 10px; font-family:Verdana, Arial, Helvetica, sans-serif; text-decoration:none;; line-height: 10px}

/*footer*/
.word9 {  font-size: 10px; font-family:Verdana, Arial, Helvetica, sans-serif; text-decoration:none;; line-height: 15px}

/*error*/
.error {  font-size: 11px; font-family:Verdana, Arial, Helvetica, sans-serif; text-decoration:none;; line-height: 15px; font-style: normal; font-weight: bold; color: #FF0000}

/*data*/
.data {  font-size: 11px; font-family:Verdana, Arial, Helvetica, sans-serif; text-decoration:none;; line-height: 15px}

/*small*/
.small {  font-size: 8px; font-family:Verdana, Arial, Helvetica, sans-serif; text-decoration:none;; line-height: 10px}

.formControlStyleXSmall { font-size:xx-small; font-family:Verdana, Arial, Helvetica, sans-serif; }
.formControlStyleSmall { width:75px; font-size:x-small; font-family:Verdana, Arial, Helvetica, sans-serif; }
.formControlStyleMedium { width:150px; font-size:x-small; font-family:Verdana, Arial, Helvetica, sans-serif; }
.formControlStyleLarge { width:300px; font-size:small; font-family:Verdana, Arial, Helvetica, sans-serif; }
.formControlStyleContainer { font-size:small; font-family:Verdana, Arial, Helvetica, sans-serif; }
.formControlStyleList { height:20px; font-size:small; font-family:Verdana, Arial, Helvetica, sans-serif; }

/*link*/
A { color : #6666CC; text-decoration: none}
A:hover {color:#0000DD; text-decoration: underline}

.autocomplete {
	position: absolute;
	color: #333;
	background-color: #fff;
	border: 1px solid #666;
	visibility: hidden;
	font-family: Gill Sans;
	font-size: 10px;
	overflow: hidden;
}

.autocomplete ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.autocomplete li {
	display: block;
	white-space: nowrap;
	cursor: pointer;
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #fff;
}

.autocomplete li.selected {
	background-color: #cef;
	border-top: 1px solid #9bc;
	border-bottom: 1px solid #9bc;
}

input.form-autocomplete {
	background: url('/html/images/throbber.gif') no-repeat 100% 2px;
	font-size:x-small; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

input.throbbing {
	background-position: 100% -18px;
}

.calloutBox {
  width: 250px;
  height: 100px;
  background-color: #ddd;
  border-width: 1px;
  border-style: solid;
  border-top-color: #eee;
  border-left-color: #eee;
  border-right-color: #999;
  border-bottom-color: #999;
  padding: 0;
  display: none;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  opacity: 0.8;
}

.calloutTitle {
  background-color: #000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #666;
  padding: 2px 4px;
  color: #ccc;
  font: bold 10pt Arial;
}

.calloutContent {
  padding: 4px;
  color: #000;
  font: 10pt Arial;
}

.calloutClose {
  float: right;
  padding: 2px 4px;
  margin-top: 1px;
  color: #fff;
  font: bold 8pt Arial;
  cursor: pointer;
}

#watchedResponseContainer {
  border: 1px solid #ccc;
  width: 300px;
  padding: 4px;
  margin-top: 10px;
  background-color: #eee;
}

#watchedResponse {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 4px;
  background-color: #fff;
}