/* CSS Document */
/* styles used for page borders(blue rounded) */
.bg-left {background-image: url(../images/img_bglt.gif); width:44px;}
.bg-rt {background-image: url(../images/img_bgrt.gif); width:46px;}
.bg-top {background-image: url(../images/img_bgtop.gif);background-repeat: repeat-x;}
.bg_bot {background-image: url(../images/img_bgbot.gif);}
.bg-top-rtcurve {background-image: url(../images/img_toprt.gif);}
.bg-top-ltcurve {background-image: url(../images/img_toplt.gif);}
.bg-bot-rtcurve {background-image: url(../images/img_botrt.gif);background-position:bottom;}
.bg-bot-ltcurve {background-image: url(../images/img_botlt.gif);background-position:bottom;}
body{
	background-color:#FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}


/* styles used for headers,page section highlights and Separators */
.black-line {
	background-color: #000000;
	height: 1px;
}
.blue-line {
	background-color: #F7F7F7;
	height: 1px;
}
/* blue backgroung used for table heads and buttons at the bottom */
.blue-light {
    background: #CCD8F2;
    /* padding-left: 3px; */
    /* padding-right: 3px; */
    width: 100%;
    padding: 5px;
    float: left;
    margin: 0 0 10px 0;
        font-size: 12px;
}
.blue-light-btn {
    background: #CCD8F2;
    /* padding-left: 3px; */
    /* padding-right: 3px; */
    width: 89%;
    padding: 5px;
    float: left;
    margin: 0 0 10px 0;
        font-size: 12px;
}

/* blue text without bg used for legends in fieldsets */

.blueheader {
	FONT-WEIGHT: bolder;
	FONT-SIZE: 15px;
	COLOR: #00458A;
	font-family: Arial, Helvetica, sans-serif;
	padding-right:10px;
}
/* blue bg and white text used for table headings */
.bluebar-whitetext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #4F78AF;
}
/* section title used for block headers with red arrow img */
.sectiontitle{
	FONT-SIZE: 18px;
	line-height:22px;
	COLOR: #00458A;
	font-family: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	FONT-WEIGHT: bold;
	text-align: left;
	background-image: url(../images/arrow-title.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 28px;
	display: block;
	width: 100%;
	margin-top:10px;
}	
	
.section-head {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #990000;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #F7F7F7;
	border-right-color: #F7F7F7;
	border-bottom-color: #F7F7F7;
	border-left-color: #F7F7F7;
	
}
.status {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	background-color: #EFEFEF;
}

/* style used for alerts, confirmation and dashboard */
.DotsTable {
	padding:3;
	margin-bottom:10px;
	BORDER-LEFT: #990000 1px dotted; 
	BORDER-BOTTOM: #990000 1px dotted;
	BORDER-RIGHT: #990000 1px dotted; 
	BORDER-TOP: #990000 1px dotted;
	text-align:center;
}

/* style used for small and compact in size can be applied to any object like combos, input fields*/
.small-text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

/* style used for html tags*/
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
th {
	text-align: left;
	font-weight:bold;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/* style used for html tag input*/

INPUT.BUTTON {
	font-family:Verdana;
	font-size:10px;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	background-image: url(../images/bg_button.gif);
	height: 22px;
	border: 1px outset #b6c8e9;
	background-position: top;
	cursor: hand;
	margin-right:5px;
}
INPUT.BUTTON_READONLY {
	font-family:Verdana;
	font-size:10px;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	background-image: url(../images/title-bg.gif);
	height: 22px;
	border: 1px outset #b6c8e9;
	background-position: top;
	cursor: hand;
	margin-right:5px;
}
INPUT.editable {
	BACKGROUND-COLOR: #bccce3
	}
INPUT.readonly {
	WIDTH: 150px; 
	BACKGROUND-COLOR: #e2e2e2;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

INPUT.readonlymini {
	WIDTH: 90px; 
	BACKGROUND-COLOR: #e2e2e2;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

INPUT.longreadonly {
	WIDTH: 220px; 
	BACKGROUND-COLOR: #e2e2e2;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
INPUT.big{
	WIDTH: 285px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
select.longreadonly {
	WIDTH: 220px; 
	BACKGROUND-COLOR: #e2e2e2;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
INPUT.invalid {
	BACKGROUND-COLOR: #ffd1c7
}
INPUT.normal {
	WIDTH: 150px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
INPUT.mini {
	WIDTH: 90px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
INPUT.short {
	WIDTH: 60px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
INPUT.long{
	WIDTH: 220px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

/* style used for html tag select*/
select {
	width: 150px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 1.5px;
}
input{
	padding: 1.5px;
}
SELECT.editable {
	BACKGROUND-COLOR: #bccce3
	}
SELECT.invalid {
	BACKGROUND-COLOR: #ffd1c7
}
select.short {
	width: 116px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
select.long {
	width: 220px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

/* style used for html tag textarea*/
textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	overflow:auto; 
	width:450px;
	height:100px;
}

/* style used for divs to have 2 columns */
#leftcol {
	FLOAT: left; 
	WIDTH: 35%;
	margin-left:10px;
}
#rightcol {
	FLOAT: right; 
	WIDTH: 55%;
	margin-left:10px;
	margin-right:15px;
}

#leftcolinner {
	FLOAT: left; 
	WIDTH: 45%
}
#rightcolinner {
	FLOAT: right; 
	WIDTH: 55%
}

/* style used for message in red colour */
.message {
	font-weight:normal;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#990000;
}

/* style used for form labels  */
.formLabel {
	text-align:left;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:1.5px;
	font-weight: bold;
	background-color:#fafbfb; line-height:20px;
	float:left;
	width:136px;
}
.formLabel-last {
	text-align:left;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:1.5px;
	font-weight: bold;
	background-color:#fafbfb; line-height:20px;
	float:left;
	width:290px;
}
.formLabelrating {
	text-align:left;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:1.5px;
	font-weight: bold;
	background-color:#fafbfb; line-height:20px;
}
.formContent {
	text-align:left;
	font-weight:normal;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:1.5px;
	background-color: #FFFFFF; 
}
.formLabelview {
	text-align:right;
	font-weight:normal;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:1.5px;
}
.formContentview {
	text-align:left;
	font-weight:normal;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:1.5px;
	background-color:#F2F2FF;
	width:40%;
}
.formContentview-rating-b0x {
	text-align:left;
	font-weight:normal;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:1.5px;
	background-color:#F2F2FF;
	width:auto;
	white-space: nowrap;
}
/* this style used as heading to a tabular data, text will be red in colour with underline  */
.formLabelTop {
	text-align:left;
	font-weight:bold;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px solid black;
	text-align:left;
	padding-left:2px;
	padding-right:2px;color: #990000;
}

.formLabelSort{
	text-align:left;
	font-weight:bold;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	padding-left:2px;
	padding-right:2px;color: #990000;
	text-decoration:none;
}

.formLabelTophome {
	text-align:left;
	font-weight:bold;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px solid black;
	text-align:left;
	padding:1.5px;
	color: #990000;
}
.subHeading {
	text-align:left;
	font-weight:bold;
	font-size:11px;
	color: #FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background-color: #316DB5;
	padding: 1.5px;
}
.subheading-black {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	padding-top: 3px;
	padding-bottom: 3px;
    width: 80%;
	border-bottom: 1px solid #cccccc;
}

.diff {
	FONT-WEIGHT: bold; 
	COLOR: #ffd1c7;
}
.edit {
	FONT-WEIGHT: bold; 
	COLOR: #b2bfe6
}
.other {
	FONT-WEIGHT: bold; 
	COLOR: #666666
}
.working {
	color: #900;
	text-align: left;
	font-family: "BankGothic Lt BT";
	font-size: 2em;
	visibility: hidden;
}
	
.grey-dark {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #4F78AF !important;
	text-align: left;
}
.bullet {
	background-image: url(../images/boxes.gif);
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 12px;
}
.mandatory{
	background-image: url(../images/bullets.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:10px;
	margin-left:2px;
	
	
}
#dhtmltooltip{
	position: absolute;
	left: -300px;
	width: 150px;
	border: 1px solid black;
	padding: 1.5px;
	background-color: lightyellow;
	visibility: hidden;
	z-index: 100;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}

#dhtmlpointer{
	position:absolute;
	left: -300px;
	z-index: 101;
	visibility: hidden;
}

.menutitle{
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	text-align: left;
	padding-top: 3px;
	padding-bottom: 3px;
    width: 100%;
	border-bottom: 1px solid #cccccc;
	cursor:hand;
}

.submenu{
	margin-bottom: 0.5em;
}
a.testlink, a.testlink:visited{
	color: #000000;
	margin: 0px;
	border-left: 1px solid #8FB8BC;
	background-image: url(../images/lines.gif);
	background-repeat: no-repeat;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 15px;
	width:250px;
	display:block;
	background-color: #F0FAFF;
	text-decoration: none;
}

a.testlink:hover{
	color: #990000;
	font-weight: bold;
	margin: 0px;
	border-left: 1px solid #8FB8BC;
	background-image: url(../images/lines.gif);
	background-repeat: no-repeat;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 15px;
	background-color: #F0FAFF;
	text-decoration: none;
}
tr.dark
{
	background-color: #efefef;
}
tr.light
{
	background-color: #FFFFFF;
}
.assign-active {
	background-color: #d5fefe;
}
.tabborder {
	border: 1px #999999;
}
.bordertd {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #d6d8d9;
}

.dividingdots{ border-right:#999999 1px dotted; }
.dividingdots1{ border-left:#999999 1px dotted;}
.dividingdots1_new{ border-left:#999999 1px dotted; width:9%;}
.rating-box{width:202px !important; padding:1.5px;}
.ratting-box-input{padding:1.5px !important;}\
.note{  
	font: italic 10px Verdana, Arial, Helvetica, sans-serif;
	color: #990000;
	text-align:right;
	font-style:italic;
}
.note-red{  
	font: italic 10px Verdana, Arial, Helvetica, sans-serif;
	color: #FF0000;
	text-align:right;
	font-style:italic;
}
.hidetable{ display:none}

#viewtopnav{text-align:center; vertical-align:middle; width:100%; height:10px;}

#viewtopnav ul{     margin: 0px;
    text-align: center;
    float: left;
    padding: 0px;}
#viewtopnav ul li{list-style-type:none; float:left;     border: #ccc 1px solid;
    padding: 8px;
    background: #CCD8F2;}

#viewtopnav ul li a.valid{
/*    background-color:#68B070;
	/*border:#003300 solid 1px; border-left:0px;*/
	display:block;*/
	height:10px; 
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
    text-decoration:none;
	color:#10751B; 
	padding:3px;
	/*border-right:1px solid #000000;*/
	padding-left:5px;
	padding-right:5px;
	
}
#viewtopnav ul li a.notvalid{ 
	/*display:block; 
    border: #990000 solid 1px;
	background-color:#D47979;*/
	width:68px;
	height:10px;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
    text-decoration:none;
	color:#CA0000; 
	padding:3px;
	/*border-right:1px solid #000000;*/
	line-height:21px;
	font-weight:bold;
	
}

a.referDesignValid{ 
	/*display:block; 
    border: #990000 solid 1px;
	*/
	width:68px;
	height:10px;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
    text-decoration:none;
    background-color:#FFFF00;
	color:#000000; 
	padding:3px;
	/*border-right:1px solid #000000;*/
	line-height:21px;
	font-weight:bold;
}

a.referDesignNotValid{ 
	/*display:block; 
    border: #990000 solid 1px;
	*/
	width:68px;
	height:10px;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
    text-decoration:none;
    background-color:#00B550;
	color:#000000; 
	padding:3px;
	/*border-right:1px solid #000000;*/
	line-height:21px;
	font-weight:bold;
}

a.activeBtn {
	border : #CA0000 solid 2px !important;
}
#viewtopnav ul li a:hover{text-decoration: underline;}


.price {
	text-align: right;
}
.grandtotal {
	font-weight: bold;
	background-color: #CCCCCC;
	text-align: right;
}

.textnoborder-light {
	border: 0px;
	background-color: #ffffff;
	cursor: default;
}
.textnoborder-dark {
	border: 0px;
	background-color: #efefef;
	cursor: default;
}
.textnoborder-light-a {
	border: 0px;
	background-color: #ffffff;
	text-decoration: underline;
	cursor: hand;
}
.textnoborder-dark-a {
	border: 0px;
	background-color: #efefef;
	text-decoration: underline;
	cursor: hand;
}
.textnoborder-yellow {

}

input.highlight {
	border: 0px;
    background-color:#BCCCE3;
	cursor: default;
}
input.highdark {
	border: 0px;
	background-color:#BCCCE3;
	cursor: default;
}
input.highlight-a {
	border: 0px;
    background-color:#BCCCE3;
	text-decoration: underline;
	cursor: hand;
}
input.highdark-a {
	border: 0px;
	background-color:#BCCCE3;
	text-decoration: underline;
	cursor: hand;
}

.hand{cursor:pointer;}
.handcursor{cursor:pointer;}
fieldset{margin-bottom:5px;}

.filters1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align:left;
	color: #000000;
	background-color: #dbd9d9;
	border-top: 1px solid #cccccc;
	font-weight: bold;
}

a.buttongraph:link,a.buttongraph:active,a.buttongraph:visited{
display:block; cursor:hand;
font:normal 10px/20px Verdana, Arial, Helvetica, sans-serif; color:#003399; text-decoration:none;}
a.buttongraph:hover{ text-decoration:underline}
.buttongraphtext{
font:normal 10px/20px Verdana, Arial, Helvetica, sans-serif; color:#003399; text-decoration:none;
}a.returntosearch:link,a.returntosearch:active,a.returntosearch:visited{ 
		font:bold 11px Verdana, Arial, Helvetica, sans-serif; 
		color:#4f78af; 
		text-decoration:underline;
		}
a.returntosearch:hover{ 
		color:#666666; 
		text-decoration:none;
		cursor:hand;
		}
		
.addonshide img{ display:none;}
.addonsshow img{ display: block;}

#table0, #tableR{ 
	border-bottom:1px solid #d6d8d9;
}

#table0 td, #tableR td{ 
	font:normal 10px Verdana, Arial, Helvetica, sans-serif; 
	color:#000000;
	border-right:1px solid #d6d8d9; 
	text-align:left;
}

#table0 select, #tableR select{ 
	font:normal 10px Verdana, Arial, Helvetica, sans-serif; 
	color:#000000;
	border-left:1px solid #d6d8d9; 
	border-right:1px solid #d6d8d9; 
}

#table0 #top td, #tableR #top td{
	text-align:left;
	font-weight:bold;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px solid black;
	text-align:left;
	padding-left:2px;
	padding-right:2px;
	color: #990000;
	text-decoration:none;
	border-right:0px;
}
	
#table0 tr:hover, #tableR tr:hover{ 
	background-color:#ccd8f2;
}
			
.tablecolumn {
    float: left;
    width: 50%;
    padding: 0px 10px 0px 10px;
    height: auto; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.tablerow:after {
    content: "";
    display: table;
    clear: both;
}
* {
    box-sizing: border-box;
}

/* Style for New Enquiry Ratings Table */

.ratingsdiv {
	width: 1120px;
    overflow-x: scroll;
    overflow-y: visible;
    float: left;
}

/*.headcol {
	position:absolute; 
	width:240px; 
	left:86px;
	top:auto;
}*/

.ratingComment {
	border: 1px solid #ccc;
    font-family: inherit;
    font-size: inherit;
    padding: 1px 6px;
	display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 80px;
    line-height: 40px;
}

/* Modal CSS */
.modal123 {
  display:none;
  position:fixed; /* Stay in place */
  z-index:1050; /* Sit on top */
  padding-top:300px; /* Location of the box */
  left:0;
  top:0;
  width:100%; /* Full width */
  height:100%; /* Full height */
  overflow:hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  outline: 0;
}

.modal-content {
  background-color: #fefefe;
  margin: 55% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  outline: 0;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* CSS Changes : data-title */
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
/* box for title text */
[data-title]:after {
    content: attr(data-title);
  	/* position for title view box */
  	position: absolute;
  	bottom: -1.6em;  	
    left: 100%;
    z-index: 99999;
    visibility: hidden;
    /* optional */
    white-space: nowrap;
  	/* stilization */
    background-color: #CCD8F2;
    color: #111;
    font-size: 80%;
    font-weight: bold;
    padding: 1px 5px 2px 5px;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
}
[data-title] {
    position: relative;
}

.title-message{
  visibility: hidden;
  padding: 10px;
  border: solid 1px #f9f9f9;
  box-shadow: 3px 3px 3px #1a1a1a;
}

/* section title used for block headers with red arrow img */
.bulkloadsectiontitle{
	COLOR: #00458A;
	font: bold 18px Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	FONT-WEIGHT: bold;
	text-align: left;
	background-image: url(../images/arrow-title.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 28px;
	display: block;
	width: 100%;
	line-height:25px;
}

.bulkloadblueheader {
	font-weight: bolder;
	font-size: 15px;
	color: #00458A;
	font-family: Arial, Helvetica, sans-serif;
	padding-right:10px;
}

.bulkloadformLabelview {
	text-align:right;
	font-weight:normal;
	font-size:8pt;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
}

.bulkloadformContentview {
	text-align:left;
	font-weight:normal;
	font-size:8pt;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
	background-color:#F2F2FF;
}

/* this style used as heading to a tabular data, text will be red in colour with underline  */
.bulkloadformLabelTop {
	text-align:left;
	font-weight:bold;
	font-size:8pt;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px solid black;
	text-align:left;
	padding-left:2px;
	padding-right:2px;color: #990000;
}

.bulkloadBordertd {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #d6d8d9;
}

/* Create ENquiry Page : Ratings Section : Horizontal Scroll */

.ratings-table {
  position: relative;
  width: 1100px !important;
  overflow: hidden;
}


/*thead*/
.ratings-table thead {
  position: relative;
  display: block;
  /*seperates the header from the body allowing it to be positioned*/
  width: 1100px;
  overflow: visible;
}

.ratings-table thead th {
  min-width: 120px;
  height: auto;
}

.ratings-table thead th:first-child {
  /*first cell in the header*/
  position: relative;
  display: block;
}

/*tbody*/

/*#ratingsEncloseDiv .table-rating{
	  position: relative;
  display: block;
  width: 1120px;
  height: auto;
  overflow-x: scroll;
}*/
/*.ratings-table tbody {
  position: relative;
  display: block;
  width: 1100px;
  height: auto;
  overflow: scroll;
}*/

/*.ratings-table tbody td {
  min-width: 120px;
}

.ratings-table tbody tr td:first-child {
  position: relative;
  display: block;
  height: auto;
}*/

/* Create ENquiry Page : Ratings Section : Horizontal Scroll */


.accordion-toggle i {
		position: relative;
		width: 16px;
		height: 16px;
		margin: 16px;
}
.icon-minus {
		background-color: #000;
		border-radius: 8px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		width: 16px;
		height: 16px;
		position: relative;
		top: 0;
		left: 0;
}
.icon:after {
		background-color: #000;
		width: 8px;
		height: 2px;
		border-radius: 1px;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		position: absolute;
		top: 7px;
		left: 3.5px;
		z-index: 4;
		content: "";
}
.icon-plus {
		background-color: #000;
		border-radius: 8px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		width: 16px;
		height: 16px;
		position: relative;
		top: 0;
		left: 0;
}
.icon-plus:after {
		background-color: #000;
		width: 8px;
		height: 2px;
		border-radius: 1px;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		position: absolute;
		top: 7px;
		left: 4px;
		content: "";
}
.icon-plus:before {
		background-color: #000;
		width: 2px;
		height: 8px;
		border-radius: 1px;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		position: absolute;
		top: 4px;
		left: 7px;
		content: "";
}

/* *********************************************************** */

#screen, #modal {
	display: none;
	position: fixed;
}
#screen {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.25);
	z-index: 1;
}
#modal {
	text-align:center;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 2;
}

