
.qmmc .qmdivider{display:block;font-size:1px;border-width:0px;border-style:solid;position:relative;z-index:1;}
.qmmc .qmdividery{float:left;width:0px;}
.qmmc .qmtitle{display:block;cursor:default;white-space:nowrap;position:relative;z-index:1;}
.qmclear {font-size:1px;height:0px;width:0px;clear:left;line-height:0px;display:block;float:none !important;}
.qmmc {position:relative;zoom:1;z-index:10;}
.qmmc a, .qmmc li {float:left;display:block;white-space:nowrap;position:relative;z-index:1;}
.qmmc div a, .qmmc ul a, .qmmc ul li {float:none;}
.qmsh div a {float:left;}
.qmmc div{visibility:hidden;position:absolute;}
.qmmc .qmcbox{cursor:default;display:block;position:relative;z-index:1;}
.qmmc .qmcbox a{display:inline;}
.qmmc .qmcbox div{float:none;position:static;visibility:inherit;left:auto;}
.qmmc li {z-index:auto;}
.qmmc ul {left:-10000px;position:absolute;z-index:10;}
.qmmc, .qmmc ul {list-style:none;padding:0px;margin:0px;}
.qmmc li a {float:none;}
.qmmc li:hover>ul{left:auto;}
#qm0 ul {top:100%;}
#qm0 ul li:hover>ul{top:0px;left:100%;}


/*!!!!!!!!!!! QuickMenu Styles [Please Modify!] !!!!!!!!!!!*/


	/* QuickMenu 0 */

	/*"""""""" (MAIN) Items""""""""*/	
	#qm0 a	
	{	
		padding:5px 4px 4px 5px;
		color: #FFFFFF;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		text-decoration:none;		
	}


	/*"""""""" (SUB) Container""""""""*/	
	#qm0 div, #qm0 ul	
	{	
		
		margin-top:-1px;
		background-color:#5286bb;
	}


	/*"""""""" (SUB) Items""""""""*/	
	#qm0 div a, #qm0 ul a	
	{	
		padding:5px 50px 5px 5px;
		background-color:#5286bb;
		font-size:11px !important;
		border:1px solid #4274A6 !important; display:block; padding-left:20px;
	}


	/*"""""""" (SUB) Hover State""""""""*/	
	#qm0 div a:hover	
	{	
		background-color:#1A4D81;
		color: #FFFFFF; border-bottom:1px solid #4274A6; background-image: url(../images/lev1_arrow.gif); background-repeat:no-repeat; background-position:left; padding-left:20px;}


	/*"""""""" (SUB) Hover State - (duplicated for pure CSS)""""""""*/	
	#qm0 ul li:hover>a	
	{	
		background-color:#1A4D81;
		color:#000000;
		
	}


	/*"""""""" (SUB) Active State""""""""*/	
	body #qm0 div .qmactive, body #qm0 div .qmactive:hover	
	{	
		background-color:#1A4D81;
		color:#000000;
		
	}


	/*"""""""" Individual Titles""""""""*/	
	#qm0 .qmtitle	
	{	
		cursor:default;
		padding:3px 0px 3px 4px;
		color:#444444;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:bold;
	}


	/*"""""""" Individual Horizontal Dividers""""""""*/	
	#qm0 .qmdividerx	
	{	
		border-top-width:1px;
		margin:0px 0px;
		border-style:dotted;
		border-color:#bfbfbf;
	}


	/*"""""""" Individual Vertical Dividers""""""""*/	
	#qm0 .qmdividery	
	{	
		border-left-width:1px;
		height:15px;
		margin:2px 2px 0px;
		border-color:#FFFFFF;
	}


	/*"""""""" (main) Rounded Items""""""""*/	
	#qm0 .qmritem span	
	{	
		border-color:#1A4D81;

	}


	/*"""""""" (main) Rounded Items Content""""""""*/	
	#qm0 .qmritemcontent	
	{	
		padding:0px 0px 0px 4px;
	}


	/*"""""""" Main Hover Fill Items [Static]""""""""*/	
	#qm0 .qmhoverfill	
	{	
		background-color:#EBEBEB;
	}


	/*"""""""" Sub Hover Fill Items [Static]""""""""*/	
	#qm0 div .qmhoverfill	
	{	
		background-color:#1A4D81;
		border-width:1px;
		border-style:solid;
		border-color:#A1A1A1;
	}


	/*"""""""" Custom Rule""""""""*/	
	ul#qm0 ul	
	{	
		padding:10px;
		margin:-2px 0px 0px;
;
		border-width:1px;
		border-style:solid;
		border-color:#1A4D81;
	}

.qmfv{visibility:visible !important;}.qmfh{visibility:hidden !important;}



a.qmparent:link,a.qmparent:active,a.qmparent:visited{ background-image:url(../images/lev0_bg1.gif); background-repeat:repeat-x; border:1px solid #4274A6; margin:1px; width:100px; text-align:center; font-size:11px !important;background-color:#2c5f93 !important}
a.qmparent:hover{background-image: url(../images/lev0_bg2.gif);background-color:#2c5f93 !important}

