/* Following are related(copied from OTIS) to OTIS support css */

DIV.adbanner {display: none;}
DIV.hidemenu {display: none;}
DIV.tabbanner {display: none;}
@page {
	margin: .2in;
	margin-top:.1in;
}
.adbanner {display: none;}
.hidetable{display:block;}

@mediaPrint {
}

.formContentview {
	text-align:left;
	font-weight:normal;
	font-size:10px;
	font-family: Verdana,Helvetica, Arial,  sans-serif;
	background-color:#F2F2FF;
}
.formLabelview {
	text-align:right;
	font-weight:normal;
	font-size:10px;
	font-family: Verdana, Helvetica,Arial,  sans-serif;
}
td{ 
	font-weight:normal;
	font-size:10px;
	font-family: Verdana, Helvetica,Arial,  sans-serif;
	color:#000000; 
}
.blueheader{
	FONT-WEIGHT: bolder;
	FONT-SIZE: 14px;
	COLOR: #00458A;
	font-family: Verdana, Helvetica,Arial,  sans-serif;
	padding-right:10px;
}
#table0{ border:0px;font-size:9px;}
#table0 td{ font-weight:normal;
	font-size:9px;
	font-family: Verdana, Helvetica,Arial,  sans-serif;
	color:#000000; 
	text-align:left;
	border-right:1px solid #d6d8d9;
}
#table0 #top td{	text-align:left;
	font-size:9px;
	font-family:Verdana, Helvetica,Arial,  sans-serif;
	font-weight:bold;
	border-bottom: 1px solid #000000; 
	text-align:left;
	padding-left:1px;
	padding-right:1px;
	color: #990000;
	border-right:0px;
}
body { 
	size:landscape;
	background-color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	size:9px;
}
