/* RESULTS TABLES CSS */
td.header
{
	text-align:left;
	font-weight:bold;
	font-size:8pt;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px solid black;
	text-align:left;
	padding-left:5px;
	padding-right:5px;
	color: #990000;
}
td.body
{
	border-bottom: 1px solid white;
	font-size:12pt;
	border-top: 1px solid white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	padding-left:5px;
	padding-right:5px;
}

td.none
{
	font-weight:bold;
	font-family:sans-serif;
	color:red;
	font-style:italic;
	font-size:9pt;
	text-align:left;
}

tr.dark
{
	background-color: #efefef;
}
tr.light
{
	background-color: #FFFFFF;
}
tr.highlight
{
	 background-color:#BCCCE3;
}
tr.highdark
{
	background-color:#BCCCE3;
}

.grey-light {
	background-color: #ECF5FF;
}
.red-head {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bolder;
	color: #DD3636;
}
.mid-grey {
	background-color: #F9F9F9;
}
.grey-dark {
	background-color: #F0F0F0;
}
select.mini {
	width: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

